# =============================
# Python cache
# =============================
__pycache__/
*.pyc

# =============================
# Virtual environments
# =============================
venv/
.venv/
env/
Lib/
Scripts/
pyvenv.cfg
CACHEDIR.TAG

# =============================
# IDE / OS
# =============================
.vscode/
.idea/
.DS_Store
Thumbs.db
