# Virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment files
.env

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# -------------------------------
# Allow source code inside Day_08
# -------------------------------
!Day_08/
!Day_08/api_versioning/**
!Day_08/middleware/**
!Day_08/cache.py
!Day_08/file_upload_validation.py
!Day_08/health.py
!Day_08/metrics.py
!Day_08/rate_limit.py
!Day_08/sending_email.py
!Day_08/websocket.py
